name = "titanium-gym-api"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[dev]
port = 8787

[vars]
ENVIRONMENT = "development"

[[hyperdrive]]
binding = "HYPERDRIVE"
id = "29c1ff612e794bf8b1c05349fb8c6d4d"
localConnectionString = "postgresql://titanium_app:NwQpcvHB8qGoGDC3Gi6QFgVm@34.176.85.127:5432/titanium_app"
